@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.image{
    background-size: 100%;
    opacity: 0.7;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-1{
    background-image: url('../Images/px-1.jpg');
    min-height: 100vh;
}
.img-2{
    background-image: url('../Images/px-2.jpg');
    min-height: 400px;
}
.img-3{
    background-image: url('../Images/px-3.jpg');
    min-height: 400px;
}

.img-heading{
    display: inline-block;
    background: #282e34;
    padding: 20px;
    border-radius: 8px;
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
}

.dark{
    background-color: #282e34;
    color: aliceblue;
}

.bottom-txt{
    padding: 30px;
    text-align: center;
}

.bottom-txt p{
    padding: 40px;
    line-height: 1.5;
}

.bottom-txt h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

@media (max-width: 600px){
    .bottom-txt p{
        padding: 40px 0;
    }
    .image{
        background-attachment: scroll;
    }
}

